.container
    margin-top: 20px
    
img
    max-width: 100%

.row
    margin: 0px

h2
    margin-bottom: 20px

.card
    background: none
    margin-bottom: 25px

.card-body
    background: #101120

p
    margin: 0px

.links
    color: grey
    font-size:14px

/*Es para igualar las imagenes con y sin barra de scroll*/
img
    max-height: 329px