<div class="container">
    <div class="row">
    <div class="col-sm-12 col-xxl-6">
            <h1>Nombre Proyecto</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda illo sed cum animi molestiae quia, id suscipit at nihil cumque possimus quod excepturi incidunt eum alias ratione ducimus dolores doloremque sit autem,
                inventore laboriosam blanditiis quam? Adipisci dicta aut, ullam eius nulla explicabo velit excepturi est expedita, qui aperiam magni.</p>
            <img src="../../../assets/proyectos/ejemplo.jpg" alt="">
        </div>
        <div class="col-sm-12 col-xxl-6">
            <h1>Nombre Proyecto</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda illo sed cum animi molestiae quia, id suscipit at nihil cumque possimus quod excepturi incidunt eum alias ratione ducimus dolores doloremque sit autem,
                inventore laboriosam blanditiis quam? Adipisci dicta aut, ullam eius nulla explicabo velit excepturi est expedita, qui aperiam magni.</p>
            <img src="../../../assets/proyectos/ejemplo.jpg" alt="">
        </div>
    </div>
</div>