<div class="container">
    <div class="row">
        <h2>Mis proyectos</h2>
        <div class="col-sm-12 col-lg-6">
            <div class="card">
                <img class="card-img-top" src="assets/proyectos/VLV-Motos/VLV-Motos-1.png">
                <div class="card-body">
                    <h4 class="card-title"><b>VLV Motos</b></h4>
                    <a class="boton" target="_blank" href="https://facubritez.github.io/VLV-motos/"><button
                            class="btn">Ver
                            más</button></a>
                    <p>Pagina web de un taller mecanico de motos</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="card">
                <img class="card-img-top" src="assets/proyectos/Calculadora/Calculadora.png">
                <div class="card-body">
                    <h4 class="card-title"><b>Calculadora</b></h4>
                    <a class="boton" target="_blank" href="#"><button
                        class="btn">Ver
                        más</button></a>
                    <p>Pagina web con una calculadora</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="card">
                <img class="card-img-top" src="assets/proyectos/Numeros-Romanos/Numeros-Romanos.png">
                <div class="card-body">
                    <h4 class="card-title"><b>Numeros Romanos</b></h4>
                    <a class="boton" target="_blank" href="https://facubritez.github.io/Numeros-Romanos/"><button
                        class="btn">Ver
                        más</button></a>
                    <p>Conversor de numeros romanos a decimales y viceversa</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="card">
                <img class="card-img-top" src="assets/proyectos/ejemplo.jpg">
                <div class="card-body">
                    <h4 class="card-title"><b>Project</b></h4>
                    <a class="boton" target="_blank" href="#"><button
                        class="btn">Ver
                        más</button></a>
                    <p>Architect & Engineer</p>
                </div>
            </div>
        </div>
    </div>
</div>