<div class="container">
    <div class="row">
        <h2>Mis proyectos</h2>
        <div class="col-sm-12 col-lg-6">
            <div class="card">
                <a target="_blank" href="https://facubritez.github.io/VLV-motos/"><img class="card-img-top"
                        src="assets/proyectos/VLV-Motos/VLV-Motos-1.png"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a id="vlv" target="_blank" href="https://facubritez.github.io/VLV-motos/"><b>VLV Motos</b></a>
                    </h4>
                    <a class="btn" target="_blank" href="https://facubritez.github.io/VLV-motos/">Ver más</a>
                    <p>Un sitio web para un taller mecánico especializado en motocicletas.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="card">
                <a target="_blank" href=""><img class="card-img-top"
                        src="assets/proyectos/Calculadora/Calculadora.png"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a id="calculadora" target="_blank" href=""><b>Calculadora</b></a>
                    </h4>
                    <a class="btn" target="_blank" href="#">Ver más</a>
                    <p>Una calculadora web para realizar cálculos rápidos y precisos. <span class="temporal">(En desarrollo)</span></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="card">
                <a target="_blank" href="https://facubritez.github.io/Numeros-Romanos/"><img class="card-img-top" src="assets/proyectos/Numeros-Romanos/Numeros-Romanos.png"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a id="romanos" target="_blank" href="https://facubritez.github.io/Numeros-Romanos/"><b>Numeros Romanos</b></a>
                    </h4>
                    <a class="btn" target="_blank" href="https://facubritez.github.io/Numeros-Romanos/">Ver más</a>
                    <p>Un conversor de números romanos y decimales para una fácil conversión entre ambos sistemas.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="card">
                <a target="_blank" href="https://facubritez.github.io/Lista-de-tareas/"><img class="card-img-top" src="assets/proyectos/Lista-de-tareas/Lista-de-tareas.png"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a id="Lista-de-tareas" target="_blank" href="https://facubritez.github.io/Lista-de-tareas/"><b>Lista de tareas</b></a>
                    </h4>
                    <a class="btn" target="_blank" href="https://facubritez.github.io/Lista-de-tareas/">Ver más</a>
                    <p>Una lista de tareas intuitiva para organizar y administrar tus actividades diarias de manera eficiente.</p>
                </div>
            </div>
        </div>
    </div>
</div>