<div id="aside" class="text-center">
    
    <!--Avatar-->
    <div>
        <a href="https://github.com/FacuBritez" target="_blank"><img src="https://avatars.githubusercontent.com/facubritez" alt="Profile Picture"></a>
        <h1>Facundo Britez</h1>
        <p>Frontend Developer Jr</p>
    </div> 

    <!--Botones redes-->
    <div id="redes">
        <a href="https://www.instagram.com/Facu_britez.dev/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://github.com/FacuBritez" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/facundo-britez-009b11220/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>

    <!--Navbar-->
    <div id="navbar">
        <a href="#"><i class="fa-solid fa-house"></i>Home</a>
        <br>
        <a href="#sobre-mi"><i class="fa-solid fa-user"></i>Sobre mí</a>
        <br>
        <a href="#proyectos"><i class="fa-solid fa-desktop"></i>Proyectos</a>
        <br>
        <a href="#skills"><i class="fa-solid fa-code"></i>Skills</a>
    </div>
</div>