#aside
    height: 100vh
    background-color: #040b14

h1
    font-size: 18px

h2
    font-size: 16px

img
    margin:30px
    width: 100px
    border-radius:50%
    border: 2px solid black
    transition: 0.5s

img:hover
    border: 2px solid #ff00b3
    transform: scale(1.05)


#redes
    margin-bottom: 30px

p
    margin: 10px

i
    width: 250px
    text-align: center
    margin: 0px 5px
    padding: 6px 0px
    font-size: 18px
    width: 30px
    height: 30px
    color: #ffffff
    border: solid 2px rgb(0, 0, 0, 0)
    border-radius: 50%
    transition: 0.5s

#redes i:hover 
    color: grey
    transform: scale(1.15)


    
/*Navbar*/
a
    display: inline-block
    transition: 0.5s

#navbar
    text-align: left
    width: 70%
    margin: auto

#navbar i
    font-size: 15px

#navbar a:hover i
    color: #ff00b3

#navbar a:hover 
    color: #1563AA
    transform: scale(1.1) translate(-5px)


a
    text-decoration: none
    color: white 


@media (max-width: 767px)
    #aside
        height: auto

    #navbar
        width: fit-content
        padding-right: 65px 
        margin: 0px auto  50px