footer
    margin-top: 10px
    display: flex
    flex-direction: column
    text-align: center
    font-size: 14px
    color: #fefefe
    box-shadow: 2px -2px 5px var(--color-shadow)

p
    margin-bottom: 3px