footer
    margin-top: 10px
    display: flex
    flex-direction: column
    text-align: center
    font-size: 14px

p
    margin-bottom: 3px

a
    text-decoration: none
    color: white

a:hover
    color: #ff00b3
    transition: 0.5s
    