<div class="container">
    <h2>Contacto</h2>
    <div class="contain" (click)="copyContent()">
        <div class="hover">
            <i class="fa-regular fa-envelope"></i>
            <p id="mail"> FacundoIvanBritez@gmail.com</p>
        </div>
        <span>Click to copy!</span>
    </div>
    <div class="contain">
        <a href="https://wa.me/+5491169487170" target="_blank">
            <div class="hover">
                <i class="fa-brands fa-whatsapp"></i>
                <p>+54 11 6948 7170</p>
            </div>
            <span>Click to chat!</span>
        </a>
    </div>
</div>