#sobre-mi
    height: 100vh
    background-color: #0d0d5c

h1
    font-size: 18px

h2
    font-size: 16px

img
    margin:30px
    width: 100px
    border-radius:50%
    border: 2px solid black

img:hover
    border: 2px solid #ff00b3
    transition: 0.5s

#redes
    margin-bottom: 30px

p
    margin: 10px

i
    width: 250px
    margin: 0px 25px
    text-align: center
    margin: 0px 5px
    padding: 6px 0px
    font-size: 15px
    width: 30px
    height: 30px
    color: #ffffff
    background-color: #0d0d5c
    border: solid black 2px
    border-radius: 50%

i:hover 
    border-color: #ff00b3
    color: #ff00b3
    transition: 0.5s
