<div id="sobre-mi" class="text-center">
    <div>
        <img src="https://avatars.githubusercontent.com/facubritez" alt="Profile Picture">
        <h1>Facundo Britez</h1>
        <p>FrontEnd Developer Jr</p>
    </div> 
    <div id="redes">
        <a href="https://www.instagram.com/Facu_britez.dev/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://github.com/FacuBritez" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/facundo-britez-009b11220/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
    <div class="text-center">
        <h2>Sobre mi</h2>
        <p>Hola, soy un programador apasionado por la tecnología. He estado aprendiendo diferentes lenguajes de programación y siempre estoy buscando nuevos desafíos para mejorar mis habilidades. ¡Gracias por visitar mi portfolio!</p>
    </div>
</div>
