#sobre-mi
    height: 100vh
    background-color: #040b14
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2)

h1
    font-size: 18px

h2
    font-size: 16px

img
    margin:30px
    width: 100px
    border-radius:50%
    border: 2px solid black
    transition: 0.5s

img:hover
    border: 2px solid #ff00b3
    transform: scale(1.05)


#redes
    margin-bottom: 30px

p
    margin: 10px

i
    width: 250px
    margin: 0px 25px
    text-align: center
    margin: 0px 5px
    padding: 6px 0px
    font-size: 15px
    width: 30px
    height: 30px
    color: #040b14
    background-color: #5D7593
    border: solid 2px rgba(0, 0, 0, .9)
    border-radius: 50%
    transition: 0.5s

i:hover 
    border-color: #ff00b3
    color: #ff00b3
    transform: scale(1.1)
