<div id="sobre-mi" class="text-center">
    <div>
        <img id="avatar" src="../../../assets/avatar.png">
        <p>Facundo Britez</p>
        <p>Developer Jr</p>
    </div> 
    <div id="redes">
        <a href="https://www.instagram.com/Facu_britez.dev/" target="_blank"><img src="../../../assets/redes-sociales/instragram.png"></a>
        <a href="https://github.com/FacuBritez" target="_blank"><img src="../../../assets/redes-sociales/github.png"></a>
        <a href="https://www.linkedin.com/in/facundo-britez-009b11220/" target="_blank"><img src="../../../assets/redes-sociales/linkedin.png"></a>
    </div>
    <div class="text-center">
        <p>Sobre mi</p>
        <p>Hola, soy un programador apasionado por la tecnología. He estado aprendiendo diferentes lenguajes de programación y siempre estoy buscando nuevos desafíos para mejorar mis habilidades. ¡Gracias por visitar mi portfolio!</p>
    </div>
</div>
