<div class="container">
    <div class="row">
        <!--columna Frontend-->
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-center">Frontend</h2>
                <div class="col-lg-12">
                    <img src="../../../assets/skills-iconos/html.png">
                    <p>Html</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="80" aria-valuemin="0"
                        aria-valuemax="100">
                        <div class="progress-bar" id="html" style="width: 90%"></div>
                    </div>
                </div>
        
        
                <div class="col-lg-12">
                    <img src="../../../assets/skills-iconos/css.png">
                    <p>Css</p>
                    <div class="progress html" role="progressbar" aria-label="Basic example" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar" id="css" style="width: 65%"></div>
                    </div>
                </div>
        
        
                <div class="col-lg-12">
                    <img src="../../../assets/skills-iconos/bootstrap.png">
                    <p>Bootstrap</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100">
                        <div class="progress-bar" id="bs" style="width: 65%"></div>
                    </div>
                </div>


                <div class="col-lg-12">
                    <img src="../../../assets/skills-iconos/sass.png">
                    <p>Sass</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="50" aria-valuemin="0"
                        aria-valuemax="100">
                        <div class="progress-bar" id="sass" style="width: 65%"></div>
                    </div>
                </div>
        
        
                <div class="col-lg-12">
                    <img src="../../../assets/skills-iconos/javascript.png">
                    <p>JavaScript</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0"
                        aria-valuemax="100">
                        <div class="progress-bar" id="js" style="width: 80%"></div>
                    </div>
                </div>
        
                <div class="col-lg-12">
                    <img src="../../../assets/skills-iconos/typescript.png">
                    <p>TypeScript</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="55" aria-valuemin="0"
                        aria-valuemax="100">
                        <div class="progress-bar" id="ts" style="width: 55%"></div>
                    </div>
                </div>
        
        
                <div class="col-lg-12">
                    <img src="../../../assets/skills-iconos/angular.png">
                    <p>Angular</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="60" aria-valuemin="0"
                        aria-valuemax="100">
                        <div class="progress-bar" id="angular" style="width: 60%"></div>
                    </div>
                </div>
            </div>
        
        <!--Columna Backend-->
            <div class="col-sm-6">
                <h2 class="text-center">Backend</h2>
                <div class="col-lg-12">
                    <img src="../../../assets/skills-iconos/database.png">
                    <p>MySql</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100">
                        <div class="progress-bar" id="mysql" style="width: 25%"></div>
                    </div>
                </div>
        
        
                <div class="col-lg-12">
                    <img src="../../../assets/skills-iconos/java.png">
                    <p>Java</p>
                    <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100">
                        <div class="progress-bar" id="java" style="width: 25%"></div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
</div>