.container
    margin-top:20px
    
.row
    margin: 0px
    padding: 0px

img 
    width: 30px
/*    float: left */

.col-lg-12 
    max-width: 100%
    margin:6px 0px 6px 10px

p 
    margin: 0px

.col-lg-12 
    margin-bottom: 25px


/* Color barras de progreso */


#html 
    background-color: #ff631f

#css 
    background-color: #0089ca

#bs 
    background-color: #7952b3

#sass
    background-color: #CD6799

#js 
    background-color: #f8dc3e

#ts 
    background-color: #3178c6

#angular 
    background-color: #FF2E34

#mysql 
    background-color: #0066fe

#java 
    background-color: #DB380E